* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

.head {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.head .container {
  display: flex;
  align-items: center;
  height: 72px;
  justify-content: space-between;
}
.main-nav ul,
.contact-info ul {
  display: flex;
  gap: 40px;
}
.main-section {
  max-width: 1440px;
  margin: 0 auto;
}

.main-nav {
  margin-left: 72px;
}

.contact-info {
  margin-left: auto;
}

.logo {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
  text-decoration: none;
}

.logo,
.logo-web {
  font-family: "Raleway", sans-serif;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 48px;
  background-color: #404bbf;
  border-radius: 2px;
  transform: scaleX(0);
}
.menu-link:hover::after,
.menu-link:focus::after {
  transform: scaleX(1);
}
.menu-link:hover,
.menu-link:focus {
  color: #4d5ae5;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}

.main-section {
  background-color: #2e2f42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  gap: 10px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 104px;
  margin-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 1157px) {
  .goals {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .goals li {
    width: calc((100% - 24px) / 2);
    max-width: none; 
  }
}
@media (min-width: 768px){
  .goals li{
    text-align: left;
  }
}



.section-team ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.section-team {
  background-color: #f4f4fd;
  color: #2e2f42;
  padding: 120px 0;
}
.section-team .social-icons {
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.section-team h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-card h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-card {
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 32px;
  box-shadow:
    0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-port {
  padding: 120px 0;
}

.section-port h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.section-port ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.section-port h2 {
  margin-bottom: 72px;
}

.ports {
  width: 100%;
  max-width: 288px; 
  border: 1px solid #e7e9fc;
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px){
  .goals{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .goals li{
    width: calc((100% - 24px) / 2);
  }
  .section-team ul{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .team-card{
    width: 264px;
  }
  .section-port ul{
    flex-direction:row;
    flex-wrap: wrap;
    row-gap:72px;
    column-gap:24px;
    justify-content: center;
  }
  .ports{
    width: calc((100% - 24px) / 2);
    max-width: none;
}
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ports:hover .overlay {
  transform: translateY(0);
}

.ports:hover {
  box-shadow:
    0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ports h3 {
  margin-bottom: 8px;
}

.ports p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.port-content {
  padding: 32px 16px;
  border-top: none;
}

.footer-content {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}
.footer-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
  margin-top: 16px;
}

.foot-logo {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.foot-web {
  color: #4d5ae5;
  text-decoration: none;
}

.foot-logo,
.foot-web {
  font-family: "Raleway", sans-serif;
}

.social-icons-foot {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.social-link-foot:hover {
  background-color: #31d0aa;
}
.footerlogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.social-link-foot {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  
  background-color: rgba(46, 47, 66, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:focus,
.close-btn:hover {
  background-color: #4d5ae5;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}
.footer-form {
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}
.sub-btn {
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  gap: 16px;
  width: 165px;
  height: 40px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: #404bbf;
}
.mail {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #ffffff;
  padding-left: 16px;
}
.mail:focus {
  border-color: #4d5ae5;
  outline: none;
}
.mail::placeholder {
  color: #ffffff;
}
.icon-send {
  fill: #fff;
}
.input-div {
  position: relative;
}
.input-div svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 42px;
  outline: transparent;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}
.modal-textarea {
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
}
.modal-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + svg {
  fill: #4d5ae5;
}
.check-label {
  font-size: 12px;
  color: #8e8f99;
}
.form-submit {
  padding: 16px 32px;
  display: block;
  margin: 24px auto 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.form-submit:focus,
.form-submit:hover {
  background-color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.custom-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition:
    250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-label .custom-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.mobile-socials{
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin-top: 40px;
}
.mobile-pages{
  font-weight: 700;
  font-size:36px;
  line-height:40px;
  letter-spacing: 0.02em;
  color:#2E2F42;
  text-decoration: none;
}
.mobile-pages:hover,
.mobile-pages:focus {
  color: #4d5ae5;
}
.mobile-address{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color:#434455;
  text-decoration: none;
}
.mobile-address:hover,
.mobile-address:focus {
  color: #4d5ae5;
}
.mobile-footer address ul {
  display: flex;
  flex-direction: column;
  gap: 24px; 
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-nav ul{
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-nav {
 margin-bottom: 168px;
}

address {
  font-style: normal;
}
.mobile-menu {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 630px;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
}
.menu-close-btn {
  position: absolute; 
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}
  /*.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  }*/

@media (max-width: 767px) {
  .main-nav,
  .contact-info {
    display: none;
  }
  .goals h3 {
  margin-bottom: 16px;
}

.goals li {
  width: 100%;
  max-width: 288px;
  text-align: center;
}
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 767px) {
  .menu-open-btn {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .contact-info ul {
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-size: 12px; 
    line-height: 14px;
  }
  
  .main-nav {
    margin-left: 0; 
  }
  .contact-info {
    margin-left: 0; 
  }
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 108px;
    column-gap: 24px;
    row-gap: 72px;
  }
  .container {
    max-width: 768px;
  }
  .footerlogo-container,
  .social-footer,.footer-sub{
      align-items: flex-start;
      text-align: left;
    }
    .footerlogo-container {
    width: 264px; 
  }
  .footer-form {
    flex-direction: row;
    gap:24px;
    align-items: center;
  }
}
@media (min-width: 1158px) {
  .icon-container {
    display: flex;
  }
}

@media (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
    .container {
      max-width: 1158px;
      padding-left: 15px; 
      padding-right: 15px;
    }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
  }
}
@media (min-width:1158px){
  .goals{
    flex-direction: row;
    gap:24px;
  }
  .goals li{
    width: calc((100% - 72px) / 4);
  }
  .section-port ul{
    flex-direction:row;
    row-gap:48px;
    column-gap:24px;
  }
  .ports{
    width: calc((100% - 48px) / 3);
  }
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
  background-image: (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office@2x.png);
  }
}